#b1 {
    display: flex;
    justify-content: space-between;
    height: 1cm;
    margin-bottom: 10px;
}
#b2 {
    display: flex;
    justify-content: space-between;
    height: 1cm;
    margin-top: 10px;
}